[Unit]
Description=Dbus internet connection

[Service]
User=root
ExecStart=/bin/bash /home/zefass/Desktop/practice6/dbus_thing.sh
Restart=always

[Install]
WantedBy=multi-user.target
